In [1]:
import datetime as dt
import json
import requests
import pandas as pd
from dateutil.relativedelta import relativedelta

# Request to Binance

In [2]:
def get_binance_data(symbol='ETHUSDT', interval='1h', start_date:str=None):
    # Define the start and end times for the data
    if start_date:
        start_time = dt.datetime.strptime(start_date, '%Y-%m-%d')
        end_time = start_time + relativedelta(months=1)
    else:
        end_time = dt.datetime.now()
        start_time = end_time + relativedelta(months=-1)
    
    
    # Convert the times to Unix timestamps in milliseconds
    start_timestamp = int(start_time.timestamp() * 1000)
    end_timestamp = int(end_time.timestamp() * 1000)
    
    # Define the Binance API endpoint for K-line data
    endpoint = 'https://api.binance.com/api/v3/klines'
    
    # Define the parameters for the API request
    symbol = 'ETHUSDT'
    interval = '1h'
    limit=10000
    params = {'symbol': symbol, 'interval': interval, 'startTime': start_timestamp, 'endTime': end_timestamp, 'limit': limit}
    
    # Send the API request and store the response data in a list
    data = []
    
    response = requests.get(endpoint, params=params)
    klines = json.loads(response.text)
    data = pd.DataFrame(klines)
    data.columns = ['open_time',
                  'open', 'high', 'low', 'close', 'volume',
                  'close_time', 'qav', 'num_trades',
                  'taker_base_vol', 'taker_quote_vol', 'ignore']
    data.index = [dt.datetime.fromtimestamp(x / 1000.0) for x in data.open_time]
    data['open_time'] = [dt.datetime.fromtimestamp(x / 1000.) for x in data.open_time]
    data['close_time'] = [dt.datetime.fromtimestamp(x / 1000.) for x in data.close_time]
    data.drop(data.tail(1).index, inplace=True)
    return data

In [3]:
df = get_binance_data(symbol='BTCUSDT', start_date='2022-01-01')

In [4]:
df.head()

,open_time,open,high,low,close,volume,close_time,qav,num_trades,taker_base_vol,taker_quote_vol,ignore
2022-01-01 00:00:00,2022-01-01 00:00:00,3645.04000000,3701.85000000,3633.84000000,3688.41000000,13070.92930000,2022-01-01 00:59:59.999,47926729.24076700,32205,6910.66420000,25347125.96465700,0
2022-01-01 01:00:00,2022-01-01 01:00:00,3688.12000000,3712.50000000,3673.55000000,3681.80000000,8131.40900000,2022-01-01 01:59:59.999,30031978.97241500,21380,3829.36380000,14142151.65624900,0
2022-01-01 02:00:00,2022-01-01 02:00:00,3681.80000000,3697.90000000,3672.22000000,3676.23000000,6004.29100000,2022-01-01 02:59:59.999,22146433.61526800,13214,3367.86590000,12423892.88273900,0
2022-01-01 03:00:00,2022-01-01 03:00:00,3676.22000000,3730.00000000,3676.22000000,3723.04000000,9023.37400000,2022-01-01 03:59:59.999,33430053.33568300,21702,4552.43630000,16864789.87679000,0
2022-01-01 04:00:00,2022-01-01 04:00:00,3723.04000000,3748.45000000,3714.10000000,3724.89000000,8997.75690000,2022-01-01 04:59:59.999,33572623.19046100,21666,4156.57500000,15508157.02443100,0

In [5]:
df.tail()

,open_time,open,high,low,close,volume,close_time,qav,num_trades,taker_base_vol,taker_quote_vol,ignore
2022-01-31 19:00:00,2022-01-31 19:00:00,2620.66000000,2692.79000000,2613.35000000,2685.00000000,48694.37710000,2022-01-31 19:59:59.999,129324027.54514900,79454,27985.72340000,74347906.27620100,0
2022-01-31 20:00:00,2022-01-31 20:00:00,2684.78000000,2696.33000000,2669.28000000,2686.82000000,31359.79430000,2022-01-31 20:59:59.999,84113003.68690600,55708,16817.57580000,45106664.35935500,0
2022-01-31 21:00:00,2022-01-31 21:00:00,2686.90000000,2694.92000000,2673.04000000,2679.17000000,14535.96910000,2022-01-31 21:59:59.999,39006146.26071700,36940,6994.65190000,18771936.87023200,0
2022-01-31 22:00:00,2022-01-31 22:00:00,2679.17000000,2706.77000000,2661.53000000,2672.72000000,26051.81000000,2022-01-31 22:59:59.999,69974339.89455300,56117,14091.07800000,37878473.32616200,0
2022-01-31 23:00:00,2022-01-31 23:00:00,2672.50000000,2694.85000000,2662.51000000,2683.97000000,17418.77870000,2022-01-31 23:59:59.999,46649444.70856500,34074,8337.79300000,22327641.04808100,0

In [6]:
start_date = (dt.datetime.today() - relativedelta(months=1)).__str__().split(' ')[0][:-2] + '01'
int(start_date[:4])

2024

In [7]:
start_date

'2024-01-01'

In [9]:
start_date = (dt.datetime.today() - relativedelta(months=1)).__str__().split(' ')[0][:-2] + '01'
while int(start_date[:4]) > 2017:
    df = get_binance_data(symbol='BTCUSDT', start_date=start_date)
    file_name = '../data/raw/btc-usdt/' + start_date + '.csv'
    df.to_csv(file_name)
    print(f'file {file_name} wrote.')
    start_date = dt.datetime.strptime(start_date, '%Y-%m-%d') + relativedelta(months=-1)
    start_date = start_date.__str__().split(' ')[0][:-2] + '01'

file ../data/raw/btc-usdt/2024-01-01.csv wrote.
file ../data/raw/btc-usdt/2023-12-01.csv wrote.
file ../data/raw/btc-usdt/2023-11-01.csv wrote.
file ../data/raw/btc-usdt/2023-10-01.csv wrote.
file ../data/raw/btc-usdt/2023-09-01.csv wrote.
file ../data/raw/btc-usdt/2023-08-01.csv wrote.
file ../data/raw/btc-usdt/2023-07-01.csv wrote.
file ../data/raw/btc-usdt/2023-06-01.csv wrote.
file ../data/raw/btc-usdt/2023-05-01.csv wrote.
file ../data/raw/btc-usdt/2023-04-01.csv wrote.
file ../data/raw/btc-usdt/2023-03-01.csv wrote.
file ../data/raw/btc-usdt/2023-02-01.csv wrote.
file ../data/raw/btc-usdt/2023-01-01.csv wrote.
file ../data/raw/btc-usdt/2022-12-01.csv wrote.
file ../data/raw/btc-usdt/2022-11-01.csv wrote.
file ../data/raw/btc-usdt/2022-10-01.csv wrote.
file ../data/raw/btc-usdt/2022-09-01.csv wrote.
file ../data/raw/btc-usdt/2022-08-01.csv wrote.
file ../data/raw/btc-usdt/2022-07-01.csv wrote.
file ../data/raw/btc-usdt/2022-06-01.csv wrote.
file ../data/raw/btc-usdt/2022-05-01.csv wrote.
file ../data/raw/btc-usdt/2022-04-01.csv wrote.
file ../data/raw/btc-usdt/2022-03-01.csv wrote.
file ../data/raw/btc-usdt/2022-02-01.csv wrote.
file ../data/raw/btc-usdt/2022-01-01.csv wrote.
file ../data/raw/btc-usdt/2021-12-01.csv wrote.
file ../data/raw/btc-usdt/2021-11-01.csv wrote.
file ../data/raw/btc-usdt/2021-10-01.csv wrote.
file ../data/raw/btc-usdt/2021-09-01.csv wrote.
file ../data/raw/btc-usdt/2021-08-01.csv wrote.
file ../data/raw/btc-usdt/2021-07-01.csv wrote.
file ../data/raw/btc-usdt/2021-06-01.csv wrote.
file ../data/raw/btc-usdt/2021-05-01.csv wrote.
file ../data/raw/btc-usdt/2021-04-01.csv wrote.
file ../data/raw/btc-usdt/2021-03-01.csv wrote.
file ../data/raw/btc-usdt/2021-02-01.csv wrote.
file ../data/raw/btc-usdt/2021-01-01.csv wrote.
file ../data/raw/btc-usdt/2020-12-01.csv wrote.
file ../data/raw/btc-usdt/2020-11-01.csv wrote.
file ../data/raw/btc-usdt/2020-10-01.csv wrote.
file ../data/raw/btc-usdt/2020-09-01.csv wrote.
file ../data/raw/btc-usdt/2020-08-01.csv wrote.
file ../data/raw/btc-usdt/2020-07-01.csv wrote.
file ../data/raw/btc-usdt/2020-06-01.csv wrote.
file ../data/raw/btc-usdt/2020-05-01.csv wrote.
file ../data/raw/btc-usdt/2020-04-01.csv wrote.
file ../data/raw/btc-usdt/2020-03-01.csv wrote.
file ../data/raw/btc-usdt/2020-02-01.csv wrote.
file ../data/raw/btc-usdt/2020-01-01.csv wrote.
file ../data/raw/btc-usdt/2019-12-01.csv wrote.
file ../data/raw/btc-usdt/2019-11-01.csv wrote.
file ../data/raw/btc-usdt/2019-10-01.csv wrote.
file ../data/raw/btc-usdt/2019-09-01.csv wrote.
file ../data/raw/btc-usdt/2019-08-01.csv wrote.
file ../data/raw/btc-usdt/2019-07-01.csv wrote.
file ../data/raw/btc-usdt/2019-06-01.csv wrote.
file ../data/raw/btc-usdt/2019-05-01.csv wrote.
file ../data/raw/btc-usdt/2019-04-01.csv wrote.
file ../data/raw/btc-usdt/2019-03-01.csv wrote.
file ../data/raw/btc-usdt/2019-02-01.csv wrote.
file ../data/raw/btc-usdt/2019-01-01.csv wrote.
file ../data/raw/btc-usdt/2018-12-01.csv wrote.
file ../data/raw/btc-usdt/2018-11-01.csv wrote.
file ../data/raw/btc-usdt/2018-10-01.csv wrote.
file ../data/raw/btc-usdt/2018-09-01.csv wrote.
file ../data/raw/btc-usdt/2018-08-01.csv wrote.
file ../data/raw/btc-usdt/2018-07-01.csv wrote.
file ../data/raw/btc-usdt/2018-06-01.csv wrote.
file ../data/raw/btc-usdt/2018-05-01.csv wrote.
file ../data/raw/btc-usdt/2018-04-01.csv wrote.
file ../data/raw/btc-usdt/2018-03-01.csv wrote.
file ../data/raw/btc-usdt/2018-02-01.csv wrote.
file ../data/raw/btc-usdt/2018-01-01.csv wrote.

In [ ]:
start_date = dt.datetime.today().__str__().split(' ')[0][:-2] + '01'